{% extends 'main.html' %}
{% block title %} Mercado {% endblock %}
{% block content %}
        <div class="container">
          <div class="card_template border border-5" style="border-style: double !important;">
            {% for produto in produtos %}
            
              <div class="card">
                <div class="box">
                  <div class="content">
                    <img src="{{ url_for('static', filename='/'.join(['img', produto.imagem+'.png'])) }}" alt="">
                    <h4>{{produto.nome}}</h4>
                    <p>{{produto.descricao}}</p>
                    <p><i class="fas fa-coins"></i>  {{produto.preco}}</p>
                    <a href="#">Comprar</a> 
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
{% endblock %}